<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>interviewSeries.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A447ACA1E6748ED00D10510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A447ADE1E6748ED00D10510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A447AE91E6748ED00D10510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
